## Set up
### Define a common function to handle errors effectively

In [244]:
import psycopg2

# Common function to get connection to DB
def get_connection():
    db_config = {
    "dbname": "testdb",
    "user": "postgres",
    "password": "postgres",
    "host": "localhost",
    "port": "5432",
    }

    try:
        # Connect to DB
        conn = psycopg2.connect(**db_config)
        return conn
    except psycopg2.Error as e:
        print("Error: ", e)
        return None

### Initialize tables

In [245]:
try:
    conn = get_connection()
    cur = conn.cursor()
    
    # Initialize employee table
    cur.execute("TRUNCATE TABLE employees;")
    employees = [
        (1, "Alice", 30, "HR"),
        (2, "Bob", 25, "Engineering"),
        (3, "Charlie", 35, "Marketing"),
    ]
    cur.executemany(
        "INSERT INTO employees (id, name, age, department) VALUES (%s, %s, %s, %s)",
        employees,
    )
    
    # Drop departments table
    cur.execute(
        """
        DROP TABLE IF EXISTS departments
        """
    )
    
    # Commit the changes
    conn.commit()
    
except psycopg2.Error as e:
    print("Error: ", e)

finally:
    cur.close()
    conn.close()

## Exercise 1: Create a New Table

In [246]:
try:
    conn = get_connection()
    cur = conn.cursor()
    
    # Create department table
    cur.execute(
        """
        CREATE TABLE departments (
            id integer PRIMARY KEY,
            name text
        )
        """
    )
    # Commit the changes
    conn.commit()
    
except psycopg2.Error as e:
    print("Error: ", e)

finally:
    cur.close()
    conn.close()

## Exercise 2: Insert Data into the Table

In [247]:
try:
    conn = get_connection()
    cur = conn.cursor()
    
    # Insert data into the table
    departments = [(1, "HR"), (2, "Engineering"), (3, "Marketing")]
    cur.executemany("INSERT INTO departments (id, name) VALUES (%s, %s)", departments)
    # Commit the changes
    conn.commit()
    
except psycopg2.Error as e:
    print("Error: ", e)

finally:
    cur.close()
    conn.close()

## Exercise 3: Query Data from Both Tables

### Select data from departments table

In [248]:
try:
    conn = get_connection()
    cur = conn.cursor()

    cur.execute("SELECT * FROM departments;")
    rows = cur.fetchall()
    # Print all rows
    for row in rows:
        print(row)

except psycopg2.Error as e:
    print("Error: ", e)

finally:
    cur.close()
    conn.close()

(1, 'HR')
(2, 'Engineering')
(3, 'Marketing')

### Select data from employees table

In [249]:
try:
    conn = get_connection()
    cur = conn.cursor()

    cur.execute("SELECT * FROM employees;")
    rows = cur.fetchall()
    # Print all rows
    for row in rows:
        print(row)

except psycopg2.Error as e:
    print("Error: ", e)

finally:
    cur.close()
    conn.close()

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Marketing')

### Select data from both tables

In [250]:
try:
    conn = get_connection()
    cur = conn.cursor()

    cur.execute(
        """
        SELECT * 
        FROM employees emp
        INNER JOIN departments dep
        ON emp.department = dep.name
        ORDER BY emp.id
        ;
        """
    )
    rows = cur.fetchall()
    # Print all rows
    for row in rows:
        print(row)
    
except psycopg2.Error as e:
    print("Error: ", e)

finally:
    cur.close()
    conn.close()

(1, 'Alice', 30, 'HR', 1, 'HR')
(2, 'Bob', 25, 'Engineering', 2, 'Engineering')
(3, 'Charlie', 35, 'Marketing', 3, 'Marketing')

## Exercise 4: Update Data

In [251]:
try:
    conn = get_connection()
    cur = conn.cursor()

    cur.execute(
        """
        SELECT *
        FROM employees
        WHERE id = %s
        ;
        """,
        (1,),
    )
    rows = cur.fetchall()
    print("---Before Update---")
    # Print all rows
    for row in rows:
        print(row)
        
    # Update an employee's age
    cur.execute(
        """
        UPDATE employees
        SET age = %s
        WHERE id = %s
        """,
        (99, 1),
    )
    # Commit the changes
    conn.commit()

    # View the result
    cur.execute(
        """
        SELECT *
        FROM employees
        WHERE id = %s
        ;
        """,
        (1,),
    )
    rows = cur.fetchall()
    print("---After Update---")
    # Print all rows
    for row in rows:
        print(row)

except psycopg2.Error as e:
    print("Error: ", e)

finally:
    cur.close()
    conn.close()

---Before Update---
(1, 'Alice', 30, 'HR')
---After Update---
(1, 'Alice', 99, 'HR')

## Exercise 5: Delete Data

In [252]:
try:
    conn = get_connection()
    cur = conn.cursor()
     
    cur.execute("SELECT * FROM employees ORDER BY id;")
    rows = cur.fetchall()
    # Print all rows
    print("---Before Delete---")
    for row in rows:
        print(row)

    # Delete a record from employees table
    cur.execute(
        """
        DELETE
        FROM employees
        WHERE id = %s
        """,
        (1,),
    )
    # Commit the changes
    conn.commit()

    # View the result
    cur.execute(
        """
        SELECT *
        FROM employees
        ;
        """,
        (1,),
    )
    rows = cur.fetchall()
    print("---After Update---")
    # Print all rows
    for row in rows:
        print(row)
    
except psycopg2.Error as e:
    print("Error: ", e)

finally:
    cur.close()
    conn.close()

---Before Delete---
(1, 'Alice', 99, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Marketing')
---After Update---
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Marketing')